@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-background-color: #f5f4fa;
  --background-color: #ffffff;
  --second-text-color: #ffffff;
  --socials-icon-color-first: #afb1b8;
  --socials-icon-color-second: rgba(255, 255, 255, 0.1);
  --border-color: #eeeeee;
  --hover-overlay-color: rgba(33, 150, 243, 0.9);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --placeholder-text: rgba(117, 117, 117, 0.5);
  --footer-background: #2f303a;
}

/* стили скрытого заголовка */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* стиль для линков */
.link {
  text-decoration: none;
}

/* стили для списков */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*-------- sections--------- */
.sections {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .sections {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* ----------КНОПКА---------- */
.button {
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--second-text-color);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.button--large {
  padding: 10px 56px;
}

/* заголовки второго уровня */
.sections-title-second {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .sections-title-second {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

/* логотип WebStudio*/
.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-right: 88px;
  color: #000000;
  padding-top: 24px;
  padding-bottom: 25px;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
  }
}

.logo:focus, .logo:hover {
  color: var(--accent-color);
}

.logo__web {
  color: #2196f3;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-item__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.socials-item__link:hover, .socials-item__link:focus {
  background-color: var(--accent-color);
}

.socials-item__icon {
  background-color: transparent;
  fill: var(--socials-icon-color-first);
  transition: fill var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}

.socials-item__link:hover .socials-item__icon,
.socials-item__link:focus .socials-item__icon {
  fill: var(--background-color);
}

.socials-item__link--dark {
  background-color: var(--socials-icon-color-second);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.socials-item__icon-light {
  fill: var(--second-text-color);
}

/* ------МОДАЛЬНОЕ ОКНО---------- */
/* ---бекдроп видимый----- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  /* ---можно спозиционировать  модальное окно флексом */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  opacity: 1;
  transition: opacity var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.1);
}

/*  ----- бекдроп и модальное окно в скрытом состоянии, стили для скрытого окна*/
/*----- само модальное окно--- */
.modal {
  width: 100%;
  padding: 40px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: transform 750ms var(--transition-timing-function), opacity 500ms var(--transition-timing-function);
  opacity: 1;
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    width: 450px;
    min-height: 581px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

/* ----КНОПКА ЗАКРЫТЬ---- */
.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: var(--background-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
  cursor: pointer;
}

.modal__button-close:hover, .modal__button-close:focus,
.modal__button-close .modal__button-icon:hover,
.modal__button-close .modal__button-icon:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.modal__button-icon {
  fill: #000000;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal__header {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .modal__header {
    line-height: 1.15;
  }
}

/* -----Форма для ввода даных пользователя */
.form-field {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.form-fild__lable {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.form-fild__wrap {
  display: block;
  position: relative;
}

.form-field > .form-fild__wrap:hover .form-fild__lable {
  color: var(--accent-color);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border var(--transition-duration) var(--transition-timing-function);
}

.modal-form__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--placeholder-text);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form__input:hover::placeholder, .modal-form__input:hover::placeholder, .modal-form__input:focus::placeholder, .modal-form__input:focus::placeholder {
  color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  margin-right: 12px;
  cursor: pointer;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-form__input:hover + .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.form-field__comments {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  /* margin-bottom: 30px; */
}

.form-field__comments::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--placeholder-text);
  transition: color var(--transition-duration) var(--transition-timing-function), border var(--transition-duration) var(--transition-timing-function);
}

.form-field__comments:hover, .form-field__comments:focus {
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-field__comments:hover::placeholder, .form-field__comments:focus::placeholder {
  color: var(--accent-color);
}

/* ------чекбокс через бефор */
/* .modal-user-agreement::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
} */
.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.form-checkbox__wrap {
  display: block;
  width: 16px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.form-checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 24px;
  cursor: pointer;
}

.form-checkbox__icon {
  display: block;
  fill: var(--background-color);
}

.checkbox:hover + .form-checkbox__label > .form-checkbox__wrap,
.checkbox:focus + .form-checkbox__label > .form-checkbox__wrap {
  border-color: var(--accent-color);
}

.checkbox:checked + .form-checkbox__label > .form-checkbox__wrap {
  background-color: var(--accent-color);
  border: none;
  border: transparent;
}

.form-checkbox__agreement {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .form-checkbox__agreement {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}

.form-checkbox__contract {
  color: var(--accent-color);
  text-decoration-line: underline;
}

.footer-subscription {
  width: auto;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-subscription {
    display: block;
    width: 100%;
    padding-left: 90px;
    padding-right: 63px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscription {
    text-align: start;
    height: auto;
  }
}

/* ----если текст"подпишись на рссылку не заголовок, то вот его стили"  */
/* .subscription-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-text-color);
} */
.subscription-form {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    display: flex;
    align-items: center;
    width: auto;
  }
}

.subscription-form__fild {
  width: 100%;
  display: block;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .subscription-form__fild {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    align-items: center;
  }
}

.subscription-form__input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-background);
  color: var(--second-text-color);
  cursor: pointer;
  margin-bottom: 20px;
}

.subscription-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.subscription-form__input::placeholder:hover::placeholder, .subscription-form__input::placeholder:focus::placeholder {
  color: var(--accent-color);
}

.subscription-form__fild:hover .subscription-form__input,
.subscription-form__fild:focus .subscription-form__input {
  border-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .subscription-form__input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 0 15px;
    margin-bottom: 0;
  }
}

.subscription-form__icon {
  margin-left: 10px;
  background-color: transparent;
  fill: var(--background-color);
}

/* -----HEADER------------------ */
.header {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ececec;
}

.header-container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    justify-content: center;
  }
}

.navig {
  display: flex;
  align-items: center;
  height: auto;
}

/* site-navig */
.site-navig {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-navig {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .site-navig .site-navig__link.current {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .site-navig__item {
    position: relative;
  }
  .site-navig__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-navig__item .current::after {
    position: absolute;
    top: calc(100% - 1px);
    /* bottom: -2px; */
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    content: "";
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .site-navig__item .site-navig__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    color: var(--title-text-color);
    transition: color var(--transition-duration) var(--transition-timing-function);
    cursor: pointer;
  }
  .site-navig__item .site-navig__link:hover, .site-navig__item .site-navig__link:focus {
    color: var(--accent-color);
  }
}

.site-item .link:hover,
.site-item .link:focus {
  color: var(--accent-color);
}

.site-item .current::after {
  position: absolute;
  top: calc(100% - 1px);
  /* bottom: -2px; */
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  content: "";
  display: flex;
  justify-content: center;
}

/* ----ИКОНКИ ПЕРЕД ПОЧТОЙ И ТЕЛЕФОНОМ */
.site-contact__item {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .site-contact__item {
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .site-contact__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-contact__icon {
  /* fill: var(--primary-text-color); */
  fill: currentColor;
  margin-right: 10px;
}

.site-contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-contact {
    display: flex;
    flex-wrap: wrap;
    width: min-content;
  }
}

@media screen and (min-width: 1200px) {
  .site-contact {
    flex-wrap: nowrap;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: auto;
  }
}

.site-contact .site-contact__link {
  display: block;
  white-space: nowrap;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  cursor: pointer;
  margin-left: auto;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.site-contact .site-contact__link:hover, .site-contact .site-contact__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .site-contact .site-contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.auth-navig .link:hover,
.auth-navig .link:focus {
  color: var(--accent-color);
}

.menu-open {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.icon-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  fill: var(--title-text-color);
  border: none;
}

.menu-open:hover .icon-burger,
.menu-open:focus .icon-burger {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .mobmenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 25px;
    opacity: 1;
    z-index: 9999;
    background-color: var(--background-color);
  }
  .mobmenu.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .mobmenu .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    max-width: 480px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .mobmenu {
    display: none;
  }
}

.mobmenu_close {
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-sizing: border-box;
  background-color: var(--background-color);
  fill: var(--title-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
  cursor: pointer;
}

.mobmenu_close:hover, .mobmenu_close:focus,
.mobmenu_close .modal__button-icon:hover,
.mobmenu_close .modal__button-icon:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.mobmenu-nav__list {
  display: block;
}

.mobmenu-nav__item {
  margin-bottom: 32px;
  color: var(--title-text-color);
}

.mobmenu-nav__item:last-child {
  margin-bottom: 0;
}

.mobmenu-nav__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobmenu-nav__link:hover, .mobmenu-nav__linkS:focus {
  color: var(--accent-color);
}

.mobmenu__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.mobmenu-contacts__list {
  margin-bottom: 64px;
}

.mobmenu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobmenu-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .mobmenu-contacts__link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.mobmenu-contacts__email-link {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 480px) {
  .mobmenu-contacts__email-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.mobmenu-socials__list {
  display: flex;
}

.mobmenu-socials__item {
  display: flex;
  position: relative;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 5px;
}

.mobmenu-socials__item:not(:last-child) {
  margin-right: 5px;
}

.mobmenu-socials__item:last-child {
  border: none;
}

@media screen and (min-width: 480px) {
  .mobmenu-socials__item {
    padding-right: 10px;
  }
  .mobmenu-socials__item:not(:last-child) {
    margin-right: 10px;
  }
}

.mobmenu-socials__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .mobmenu-socials__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
}

/* ------------HERO-------------- */
.hero {
  background-color: #2f303a;
  color: var(--second-text-color);
  flex-grow: 1;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob/mobheader1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob/mobheader@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tab/tabheader1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tab/tabheader@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/deskheader1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/deskheader@2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}

@media screen and (min-width: 480px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

/* ----------ПРЕИМУЩЕСТВА--------- */
.feature-list {
  display: block;
}

@media screen and (max-width: 767px) {
  .feature-list {
    margin-bottom: -60px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.feature-list__item {
  margin-bottom: 30px;
}

.feature-list__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .feature-list__item:nth-child(odd) {
    margin-right: 30px;
  }
  .feature-list__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list__item {
    flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
    margin-bottom: 0;
  }
  .feature-list__item:last-child {
    margin-right: 0;
  }
}

/* -----ИКОНКИ ПЕРЕД СЕКЦИЕЙ ПРЕИМУЩЕСТВА через backgroumd и befor */
/* .feature-item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--second-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.icon-antenna::before {
  background-image: url("../images/antenna.svg");
}
.icon-clock::before {
  background-image: url("../images/clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../images/astronaut.");
} */
/*  ------ИКОНКИ ПЕРЕД СЕКЦИЕЙ ПРЕИМУЖЕСТВА ЧЕРЕЗ ИНЛАЙН СВГ----- */
.feature-list__icon {
  display: block;
  width: auto;
  height: 120px;
  background-color: var(--second-background-color);
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.feature-list__svg {
  display: block;
  margin: auto;
}

/* заголовки в  секции особенности */
.feature-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .feature-list__text {
    text-align: start;
  }
}

.feature-list__item p {
  margin-top: 10px;
}

/* секция чем мы занимаемся */
.sections-work {
  padding-top: 0;
}

.work-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.work-list__item {
  position: relative;
  width: 370px;
  margin-right: 30px;
}

.work-list__item:last-child {
  margin-right: 0;
}

.work-list__image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.work-list__text {
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--second-text-color);
}

@media screen and (max-width: 1199px) {
  .sections-work {
    display: none;
  }
}

.sections-team {
  background-color: var(--second-background-color);
}

@media screen and (min-width: 1200px) {
  .sections-team {
    padding-top: 132px;
    padding-bottom: 56px;
  }
}

.team-list {
  width: 100%;
  display: block;
}

@media screen and (min-width: 480px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
  }
}

.team-card {
  min-width: 270px;
  height: auto;
  background-color: var(--background-color);
  border-bottom: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}

.team-card:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc((100% - 60px) / 2);
  }
  .team-card:nth-child(odd) {
    margin-right: 30px;
  }
  .team-card:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-card {
    flex-wrap: nowrap;
    margin-right: 30px;
  }
  .team-card:not(:last-child) {
    margin-bottom: 0;
  }
  .team-card:last-child {
    margin-right: 0;
  }
}

.team-card_img {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

/* подзаголовки под фото секции наша комаанда  */
.team-card__footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-card__footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

/* -----СЕКЦИЯ ПОСТОЯННЫЕ КЛИЕНТЫ----- */
.clients {
  display: block;
  margin-top: 56px;
}

@media screen and (min-width: 768px) {
  .clients {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    margin-top: 38px;
  }
}

.clients-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
  }
}

.clients-list__item {
  width: 100%;
  height: 90px;
  margin-right: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .clients-list__item {
    width: calc((100% - 30px) / 2);
  }
  .clients-list__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .clients-list__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
  .clients-list__item:nth-child(3n) {
    margin-right: 0;
  }
  .clients-list__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    display: flex;
    width: calc((100% - 150px) / 6);
    height: auto;
    margin-bottom: 0;
  }
  .clients-list__item:last-child {
    margin-right: 0;
  }
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  border: 1px solid var(--socials-icon-color-first);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--background-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .clients-list__link {
    padding: 16px 52px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list__link {
    padding: 16px 60px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list__link {
    padding: 16px 32px;
  }
}

.clients-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 106px;
  height: 60px;
  fill: var(--socials-icon-color-first);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

/* футер */
.footer {
  width: 100%;
  height: auto;
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 72px;
    padding-bottom: 0px;
  }
}

.footer-container {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 76px;
    padding-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

/* логотип ф футере */
.logo-footer {
  margin-left: auto;
  margin-right: auto;
  color: var(--second-text-color);
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .logo-footer {
    margin-top: -12px;
  }
}

/* -----СОЦ ССЫЛКИ В ФУТЕРЕ */
.footer-socials {
  height: auto;
  text-align: center;
  display: block;
  margin-bottom: 60px;
}

.sections-footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .sections-footer-title {
    text-align: start;
  }
}

/* адресс ссылка  */
.footer-contacts {
  width: 100%;
  display: block;
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    width: auto;
    justify-content: start;
    margin-right: 93px;
  }
}

.address {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .address {
    margin-right: 70px;
    text-align: start;
  }
}

.address__list {
  font-style: normal;
  margin-top: 20px;
}

.address__link {
  display: block;
  color: var(--second-background-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

/* ауторизация в футере */
.address-contacts {
  margin-top: 9px;
}

.address-contacts:hover {
  color: var(--accent-color);
}

.address-contacts__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.address-contacts__link:hover, .address-contacts__link:focus {
  color: var(--accent-color);
}

.filters-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filters-button {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filters-button {
    margin-bottom: 50px;
  }
}

.filters-item button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--second-background-color);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}

.filters-item button:hover, .filters-item button:focus {
  background-color: var(--accent-color);
  color: var(--second-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filters-item button .current {
  background-color: var(--accent-color);
}

.filters-item {
  border-radius: 4px;
  background-color: var(--second-background-color);
  margin-bottom: 15px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .filters-item {
    margin-bottom: 0;
  }
}

/*--------- стили для страницы портфолио--------------- */
/* секция проекты студии */
.project-container {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  width: 100%;
  margin-bottom: 30px;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  background: var(--background-color);
  cursor: pointer;
}

.project-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project-item {
    width: calc((100% - 30px) / 2);
  }
  .project-item:nth-child(odd) {
    margin-right: 30px;
  }
  .project-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .project-item {
    width: 370px;
    margin-right: 30px;
  }
  .project-item:nth-child(3n) {
    margin-right: 0;
  }
  .project-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.project-link {
  width: 100%;
  display: block;
}

.project-link:hover, .project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.project-overlay {
  position: relative;
  overflow: hidden;
}

.project-actions {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  display: flex;
  justify-content: center;
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function), opacity var(--transition-duration) var(--transition-timing-function);
  background: var(--hover-overlay-color);
}

.project-link:hover .project-actions,
.project-link:focus .project-actions {
  transform: translateY(0%);
  opacity: 1;
}

.project-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  text-align: left;
  color: var(--second-text-color);
}

.project-footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.project-footer {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */