/* адресс ссылка  */
.footer-contacts {
  width: 100%;
  display: block;

  @media screen and (min-width: 768px) {
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    width: auto;
    justify-content: start;
    margin-right: 93px;
  }
}
.address {
  display: block;
  text-align: center;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: start;
  }
}
.address__list {
  font-style: normal;
  margin-top: 20px;
}
.address__link {
  display: block;
  color: var(--second-background-color);
  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
/* ауторизация в футере */
.address-contacts {
  margin-top: 9px;
  &:hover {
    color: var(--accent-color);
  }
}
.address-contacts__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
