/* ----------ПРЕИМУЩЕСТВА--------- */

.feature-list {
  display: block;
  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  // @media screen and (min-width: 1200px) {
  //   width: 100%;
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  // }
}
.feature-list__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
  margin-bottom: 30px;
  &:last-child {
    // margin-right: 0;
    margin-bottom: 0;
  }
}

/* -----ИКОНКИ ПЕРЕД СЕКЦИЕЙ ПРЕИМУЩЕСТВА через backgroumd и befor */
/* .feature-item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--second-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.icon-antenna::before {
  background-image: url("../images/antenna.svg");
}
.icon-clock::before {
  background-image: url("../images/clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../images/astronaut.");
} */

/*  ------ИКОНКИ ПЕРЕД СЕКЦИЕЙ ПРЕИМУЖЕСТВА ЧЕРЕЗ ИНЛАЙН СВГ----- */
.feature-list__icon {
  display: block;
  // justify-content: center;
  // align-items: center;

  width: auto;
  height: 120px;
  background-color: var(--second-background-color);
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.feature-list__svg {
  display: block;
  margin: auto;
}

/* заголовки в  секции особенности */
.feature-list__text {
  @include font($fs: 14px, $lh: 1.14, $ls: 0.03em);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.17;
  // letter-spacing: 0.03em;

  // font-weight: bold;
  // font-size: 14px;
  // line-height: 16px;
  // letter-spacing: 0.03em;

  text-align: center;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.feature-list__item {
  p {
    margin-top: 10px;
  }
}
