.filters-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.filters-item button {
  @include font($fw: 500, $lh: 1.62, $ls: 0.03em);
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 1.62;
  //  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--second-background-color);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;

  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--second-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
  & .current {
    background-color: var(--accent-color);
  }
}

// .filters-item button:hover,
// .filters-item button:focus {
//   background-color: var(--accent-color);
//   color: var(--second-text-color);
//   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//     0px 2px 2px rgba(0, 0, 0, 0.12);
//   border-radius: 4px;
// }
// .filters-item .current {
//   background-color: var(--accent-color);
// }
.filters-item {
  border-radius: 4px;
  background-color: var(--second-background-color);
  margin-bottom: 15px;

  .filters-button & + & {
    margin-left: 8px;
  }
}

// .filters-button .filters-item + .filters-item {
//   margin-left: 8px;
// }
