/* футер */
.footer-container {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // align-items: flex-start;
    padding-left: 76px;
    padding-right: 89px;
  }
}
.footer {
  width: 100%;
  height: auto;
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
/* логотип ф футере */
.logo-footer {
  margin-left: auto;
  margin-right: auto;

  color: var(--second-text-color);

  padding-top: 0;
  padding-bottom: 0;
}

/* -----СОЦ ССЫЛКИ В ФУТЕРЕ */
.footer-socials {
  text-align: center;
  display: block;
  margin-bottom: 60px;
  // width: 206px;
  // height: 80px;
  // margin-top: 12px;
  // margin-right: 93px;
}
.sections-footer-title {
  @include font($fs: 14px, $lh: 1.14, $ls: 0.03em);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;

  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 20px;
}
