/* -----HEADER------------------ */
.header {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ececec;

  // padding-left: 15px;
  // padding-right: 10px;
  // padding-top: 16px;
  // padding-bottom: 16px;
}
.header-container {
  height: 60px;
  display: flex;

  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    height: 80px;
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
}
.navig {
  display: flex;
  align-items: center;
  // width: 100%;
  // width: 516px;

  height: auto;
}

/* site-navig */
.site-navig {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-right: 84px;
    .site-navig__link {
      &.current {
        color: var(--accent-color);
      }
    }
  }
}
.site-navig__item {
  @media screen and (min-width: 768px) {
    position: relative;
    &:not(:last-child) {
      margin-right: 50px;
    }
    & .current::after {
      position: absolute;
      top: calc(100% - 1px);
      /* bottom: -2px; */
      left: 0;
      width: 100%;
      height: 4px;
      background: var(--accent-color);
      border-radius: 2px;
      content: "";
      display: flex;
      justify-content: center;
    }
  }
  // @media screen and (min-width: 768px){

  // }

  .site-navig__link {
    @media screen and (min-width: 768px) {
      @include font($fw: 500, $fs: 14px, $lh: 1.14, $ls: 0.02em);
      padding-top: 32px;
      padding-bottom: 32px;
      display: block;
      color: var(--title-text-color);
      transition: color var(--transition-duration)
        var(--transition-timing-function);
      cursor: pointer;
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  }
}

.site-item .link:hover,
.site-item .link:focus {
  color: var(--accent-color);
}

.site-item .current::after {
  position: absolute;
  top: calc(100% - 1px);
  /* bottom: -2px; */
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  content: "";
  display: flex;
  justify-content: center;
}
/* ----ИКОНКИ ПЕРЕД ПОЧТОЙ И ТЕЛЕФОНОМ */

.site-contact__item {
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 32px;
    padding-top: 32px;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.site-contact__icon {
  /* fill: var(--primary-text-color); */
  fill: currentColor;
  margin-right: 10px;
}

.site-contact {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    width: min-content;
    // width: auto;
    // width: 100%;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: auto;
  }

  .site-contact__link {
    display: block;
    white-space: nowrap;
    @include font($fw: 500, $fs: 12px, $lh: 1.16, $ls: 0.02em);
    color: var(--primary-text-color);
    cursor: pointer;
    margin-left: auto;
    transition: color var(--transition-duration)
      var(--transition-timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    @media screen and (min-width: 1200px) {
      @include font($fw: 500, $fs: 14px, $lh: 1.14, $ls: 0.02em);
    }
  }
}
.auth-navig .link:hover,
.auth-navig .link:focus {
  color: var(--accent-color);
}
.menu-open {
  background-color: transparent;
  border: none;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.icon-burger {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;

  fill: var(--title-text-color);
  // margin-left: auto;
  border: none;
  .menu-open:hover &,
  .menu-open:focus & {
    fill: var(--accent-color);
  }
}
// .mobmenu-backdrop {
//   width: 100vw;
//   height: auto;
//   position: fixed;
//   top: 0;
//   left: 0;
//   padding: 48px 40;
//   background-color: #fff;
//   opacity: 1;
//   transition: opacity var(--transition-duration)
//     var(--transition-timing-function);
//   &.is-hidden {
//     opacity: 0;
//     pointer-events: none;
//     &.mobmenu {
//       transform: translate(-50%, -50%) scale(0.1);
//     }
//   }
// }

.mobmenu {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 25px;
    opacity: 1;
    z-index: 9999;

    background-color: var(--background-color);
    &.is-hidden {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      align-items: flex-start;
      max-width: 480px;

      justify-content: space-between;
    }
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobmenu_close {
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-sizing: border-box;
  background-color: var(--background-color);
  fill: var(--title-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
  cursor: pointer;
  &:hover,
  &:focus,
  & .modal__button-icon:hover,
  & .modal__button-icon:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.mobmenu-nav__list {
  display: block;
}
.mobmenu-nav__item {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0;
  }
  color: var(--title-text-color);

  // &:hover .mobmenu-nav__link,
  // &:focus .mobmenu-nav__link {
  //   color: var(--accent-color);
  // }
}
.mobmenu-nav__link {
  display: block;
  @include font($fw: 500, $fs: 40px, $lh: 1.17, $ls: 0.02em);
  color: var(--title-text-color);
  &:hover,
  &S:focus {
    color: var(--accent-color);
  }
}
// .mobmenu-nav__item .link:hover,
// .mobmenu-nav__item .link:focus {
//   color: var(--accent-color);
// }
.mobmenu__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.mobmenu-contacts__list {
  margin-bottom: 64px;
}
.mobmenu-contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobmenu-contacts__link {
  @include font($fw: 500, $fs: 24px, $lh: 1.17, $ls: 0.02em);
  color: var(--accent-color);

  @media screen and (min-width: 480px) {
    @include font($fw: 500, $fs: 34px, $lh: 1.17, $ls: 0.02em);
  }
}

.mobmenu-contacts__email-link {
  @include font($fw: 500, $fs: 22px, $lh: 1.16, $ls: 0.02em);
  color: var(--primary-text-color);
  @media screen and (min-width: 480px) {
    @include font($fw: 500, $fs: 24px, $lh: 1.17, $ls: 0.02em);
  }
}
.mobmenu-socials__list {
  display: flex;
  // justify-content: center;
  // align-items: center;
}

.mobmenu-socials__item {
  display: flex;
  position: relative;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 5px;
  &:not(:last-child) {
    margin-right: 5px;
  }
  &:last-child {
    border: none;
  }
  @media screen and (min-width: 480px) {
    padding-right: 10px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.mobmenu-socials__link {
  @include font($fw: 500, $fs: 14px, $lh: 1.22, $ls: 0.02em);
  color: var(--accent-color);
  @media screen and (min-width: 480px) {
    @include font($fw: 500, $fs: 18px, $lh: 1.22, $ls: 0.02em);
  }
}
