/* ------------HERO-------------- */
// .hero-container {
//   display: flex;
//   padding: 0;
// }
.hero {
  background-color: #2f303a;
  color: var(--second-text-color);
  flex-grow: 1;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mob/mobheader1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tab/tabheader1x.jpg);
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/deskheader1x.jpg);
  }
}
// @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
//   screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
//   screen and (min-resolution: 192dpi) and (max-width: 767px),
//   screen and (min-resolution: 2dppx) and (max-width: 767px) {
//   .hero {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/mob/mobheader@2x.jpg);
//   }
// }
// @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
//   screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-pixel-ratio: 2),
//   screen and (min-resolution: 192dpi) and (min-width: 768px),
//   screen and (min-resolution: 2dppx) and (min-width: 768px) {
//   .hero {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/tab/tabheader@2x.jpg);
//   }
// }
// @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
//   screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
//   screen and (min-resolution: 192dpi) and (min-width: 1200px),
//   screen and (min-resolution: 2dppx) and (min-width: 1200px) {
//   .hero {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/deskheader@2x.jpg);
//   }
// }

.hero__title {
  @include font($fw: 900, $fs: 20px, $lh: 1.62);
  // font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  //  letter-spacing: 0.06em;

  // font-weight: 900;
  // font-size: 26px;
  // line-height: 42px;
  // /* or 162% */

  // text-align: center;
  // letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  @media screen and (min-width: 480px) {
    // width: 480px;
    @include font($fw: 900, $fs: 26px, $lh: 1.62);
    max-width: 360px;
  }

  @media screen and (min-width: 1200px) {
    // width: 1200px;
    @include font($fw: 900, $fs: 44px, $lh: 1.36);
    max-width: 696px;
  }
}
