/* логотип WebStudio*/
.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  @include font($fs: 24px, $lh: 1.16, $ls: 0.03em);
  // @include font($fs: 26px, $lh: 1.19, $ls: 0.03em);

  // font-weight: 700;
  // font-size: 26px;
  // line-height: 1.19;
  // letter-spacing: 0.03em;
  color: #000000;
  padding-top: 24px;
  padding-bottom: 25px;
  transition: color var(--transition-duration) var(--transition-timing-function);
  margin-right: 93px;
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.logo__web {
  color: #2196f3;
}
