/* заголовки второго уровня */
.sections-title-second {
  @include font($fs: 28px, $lh: 1.17, $ls: 0.03em);
  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.16;
  // letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 30px;

  // font-weight: bold;
  // font-size: 28px;
  // line-height: 33px;
  // /* identical to box height */

  // text-align: center;
  // letter-spacing: 0.03em;
}
