.footer-subscription {
  // display: block;
  width: auto;
  text-align: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    width: 100%;
    padding-left: 90px;
    padding-right: 63px;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
    height: auto;
  }
}
/* ----если текст"подпишись на рссылку не заголовок, то вот его стили"  */
/* .subscription-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-text-color);
} */
.subscription-form {
  width: 100%;
  height: auto;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    width: auto;
  }
}
.subscription-form__fild {
  width: 100%;
  display: block;
  align-items: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    // margin-top: 12px;
    width: 100%;
    height: auto;
    align-items: center;
  }
}
.subscription-form__input {
  width: 100%;
  height: 50px;
  // margin-right: 12px;
  padding: 0 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-background);
  color: var(--second-text-color);
  cursor: pointer;
  margin-bottom: 20px;

  &::placeholder {
    @include font($fw: 400, $lh: 1.25, $ls: 0.03em);

    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-duration)
      var(--transition-timing-function);

    &:hover,
    &:focus {
      &::placeholder {
        color: var(--accent-color);
      }
    }
  }

  .subscription-form__fild:hover &,
  .subscription-form__fild:focus & {
    border-color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 0 15px;
    margin-bottom: 0;
  }
}
.subscription-form__icon {
  margin-left: 10px;
  background-color: transparent;
  fill: var(--background-color);
}
