body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* стиль для линков */
.link {
  text-decoration: none;
  // color: var(--title-text-color);
}

/* стили для списков */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
/* html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
} */
